{% extends 'base.html' %} {% load static %} {% block content %}

    <!-- Delete Account Form -->
<div class="delete-container">
    <div class="logo">
      <span class="logo-text logo-text-pet">PET</span>
      <a href="{% url 'index' %}">
        <img src="{% static '/imagery/logo.png' %}" alt="Pet Oasis Logo">
        </a>
      <span class="logo-text logo-text-oasis">OASIS</span>
    </div>

    <div class="delete-form">
        <h2>Delete account</h2>
        
        <form method="POST" action ="{% url 'delete_account' %}">
          {% csrf_token %}
          <!--{{form}}-->
            <div class="form-group">
                <label for="username">Username:</label>
                {{form.username}}
                <!--<input type="text" id="username" name="username" required>-->
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                {{form.password}}
                <!--<input type="password" id="password" name="password" required>-->
            </div>

            <div class="form-group">
                <label for="confirm-password">Confirm password:</label>
                {{form.confirm_password}}
                <!--<input type="password" id="confirm-password" name="confirm-password" required>-->
            </div>

            <div class="form-group checkboxes">
                <div class="checkbox-group">
                    <input type="checkbox" id="confirm-delete" name="confirm-delete" required>
                    <label for="confirm-delete">Confirm full awareness that your account will be deleted forever after clicking the button "DELETE" down below</label>
                </div>
                <div class="checkbox-group">
                    <input type="checkbox" id="final-confirm" name="final-confirm" required>
                    <label for="final-confirm">Last chance to change your mind, confirm being totally certain that the deletion of your account forever is your will</label>
                </div>
            </div>

            <button type="submit" class="delete-btn">DELETE</button>
        </form>
    </div>
</div>

{% endblock %}