{% extends 'base.html' %} {% load static %} {% block content %}

    <div class="main-container">
        <div class="edit-account-container">
            <div class="logo">
                <span class="logo-text logo-text-pet">PET</span>
                <a href="{% url 'index' %}">
                  <img src="{% static '/imagery/logo.png' %}" alt="Pet Oasis Logo">
                  </a>
                <span class="logo-text logo-text-oasis">OASIS</span>
            </div>

            <div class="edit-form">
                <h2>Edit account</h2>
                
                <form method="POST" action ="{% url 'edit_profile' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!--{{form}}-->
                    <div class="form-layout">
                        <div class="form-fields">
                            <div class="form-group">
                                <label for="new-username">New username:</label>
                                {{form.username}}
                                <!--<input type="text" id="new-username" name="new-username">-->
                            </div>

                            <div class="form-group">
                                <label for="new-email">New email:</label>
                                {{form.email}}
                                <!--<input type="email" id="new-email" name="new-email">-->
                            </div>

                            <div class="form-group">
                                <label for="old-password">Old password:</label>
                                {{form.old_password}}
                                <!--<input type="password" id="old-password" name="old-password">-->
                            </div>
                        </div>
                        
                        <div class="image-upload">
                            <div class="upload-circle">
                                {{form.account_picture}}
                                <!--<input type="file" id="profile-image" name="profile-image" accept="image/*" hidden>-->
                                <label for="profile-image" class="upload-label">Upload image</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="new-password">New password:</label>
                        {{form.new_password}}
                        <!--<input type="password" id="new-password" name="new-password">-->
                    </div>

                    <div class="form-group">
                        <label for="confirm-password">Confirm new password:</label>
                        {{form.confirm_new_password}}
                        <!--<input type="password" id="confirm-password" name="confirm-password">-->
                    </div>

                    <div class="checkbox-group">
                        <input type="checkbox" id="confirm-changes" name="confirm-changes" required>
                        <label for="confirm-changes">Confirm understanding of the changes you are about to make</label>
                    </div>

                    <button type="submit" class="edit-btn">EDIT</button>
                </form>
            </div>
        </div>
    </div>

    {% endblock %}