{% extends 'base.html' %} {% load static %} {% block content %}

<section class="hero">
  <div class="hero-content">
    <h1 class="fade-in">Explore our cozy hotels and shelters</h1>
    <p class="fade-in-delay">Hospitable and comforting environment</p>
  </div>
</section>

<section class="facilities">
  <div class="facilities-grid">
    {% for facility in facilities%}
    <div class="facility-card">
      <h3>{{facility.name}}</h3>
      <img src="{{facility.outside_view}}" alt="{{facility.name}} Facility" />
      <a href="{% url 'facility' city=facility.city %}">
        <button class="view-btn">View</button>
      </a>
    </div>
    {% empty %} ... {% endfor %}

    <!-- Major Cities -->
    <!--  <div class="facility-card">
          <h3>Sofia</h3>
          <img src="media/imagery/facilities/sofia.jpg" alt="Sofia Facility" />
          <button class="view-btn">View</button>
        </div>

        <div class="facility-card">
          <h3>Plovdiv</h3>
          <img
            src="media/imagery/facilities/plovdiv.jpg"
            alt="Plovdiv Facility"
          />
          <button class="view-btn">View</button>
        </div>

        <div class="facility-card">
          <h3>Varna</h3>
          <img src="media/imagery/facilities/varna.jpg" alt="Varna Facility" />
          <button class="view-btn">View</button>
        </div>

        <!-- Additional Cities -->
    <!--<div class="facility-card">
          <h3>Burgas</h3>
          <img
            src="media/imagery/facilities/burgas.jpg"
            alt="Burgas Facility"
          />
          <button class="view-btn">View</button>
        </div>

        <div class="facility-card">
          <h3>Ruse</h3>
          <img src="media/imagery/facilities/ruse.jpg" alt="Ruse Facility" />
          <button class="view-btn">View</button>
        </div>

        <div class="facility-card">
          <h3>Stara Zagora</h3>
          <img
            src="media/imagery/facilities/stara-zagora.jpg"
            alt="Stara Zagora Facility"
          />
          <button class="view-btn">View</button>
        </div>

        <div class="facility-card">
          <h3>Pleven</h3>
          <img
            src="media/imagery/facilities/pleven.jpg"
            alt="Pleven Facility"
          />
          <button class="view-btn">View</button>
        </div>

        <div class="facility-card">
          <h3>Sliven</h3>
          <img
            src="media/imagery/facilities/sliven.jpg"
            alt="Sliven Facility"
          />
          <button class="view-btn">View</button>
        </div>

        <div class="facility-card">
          <h3>Dobrich</h3>
          <img
            src="media/imagery/facilities/dobrich.jpg"
            alt="Dobrich Facility"
          />
          <button class="view-btn">View</button>
        </div>

        <div class="facility-card">
          <h3>Shumen</h3>
          <img
            src="media/imagery/facilities/shumen.jpg"
            alt="Shumen Facility"
          />
          <button class="view-btn">View</button>
        </div>

        <div class="facility-card">
          <h3>Pernik</h3>
          <img
            src="media/imagery/facilities/pernik.jpg"
            alt="Pernik Facility"
          />
          <button class="view-btn">View</button>
        </div>

        <div class="facility-card">
          <h3>Haskovo</h3>
          <img
            src="media/imagery/facilities/haskovo.jpg"
            alt="Haskovo Facility"
          />
          <button class="view-btn">View</button>
        </div>

        <div class="facility-card">
          <h3>Yambol</h3>
          <img
            src="media/imagery/facilities/yambol.jpg"
            alt="Yambol Facility"
          />
          <button class="view-btn">View</button>
        </div>

        <div class="facility-card">
          <h3>Pazardzhik</h3>
          <img
            src="media/imagery/facilities/pazardzhik.jpg"
            alt="Pazardzhik Facility"
          />
          <button class="view-btn">View</button>
        </div>

        <div class="facility-card">
          <h3>Blagoevgrad</h3>
          <img
            src="media/imagery/facilities/blagoevgrad.jpg"
            alt="Blagoevgrad Facility"
          />
          <button class="view-btn">View</button>
        </div>

        <div class="facility-card">
          <h3>Veliko Tarnovo</h3>
          <img
            src="media/imagery/facilities/veliko-tarnovo.jpg"
            alt="Veliko Tarnovo Facility"
          />
          <button class="view-btn">View</button>
        </div>

        <div class="facility-card">
          <h3>Vratsa</h3>
          <img
            src="media/imagery/facilities/vratsa.jpg"
            alt="Vratsa Facility"
          />
          <button class="view-btn">View</button>
        </div>

        <div class="facility-card">
          <h3>Gabrovo</h3>
          <img
            src="media/imagery/facilities/gabrovo.jpg"
            alt="Gabrovo Facility"
          />
          <button class="view-btn">View</button>
        </div>

        <div class="facility-card">
          <h3>Asenovgrad</h3>
          <img
            src="media/imagery/facilities/asenovgrad.jpg"
            alt="Asenovgrad Facility"
          />
          <button class="view-btn">View</button>
        </div>

        <div class="facility-card">
          <h3>Kazanlak</h3>
          <img
            src="media/imagery/facilities/kazanlak.jpg"
            alt="Kazanlak Facility"
          />
          <button class="view-btn">View</button>
        </div>

        <div class="facility-card">
          <h3>Kyustendil</h3>
          <img
            src="media/imagery/facilities/kyustendil.jpg"
            alt="Kyustendil Facility"
          />
          <button class="view-btn">View</button>
        </div>-->
  </div>
</section>

{% endblock %}
